body{
    display: grid;
    place-items: center;
    height: 100vh;

}

main {
    display: grid;
    grid-template-columns: 132px 350px 255px;
    width: calc(132px + 350px + 255px + 70px);
    column-gap: 35px;
  }
  
  /*div {
    outline: 5px solid yellow;
  }*/
  
  .marvin {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  
  #right {
      height: 73vh;
      display: flex;
      flex-direction: column;
      
    }
    
    div a {
      max-width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    
    p,
    h1 {
      margin: 0;
    }
    
    h1 {
      opacity: 0.1;
      position: relative;
      top: 29vh;
    }
    
    article {
      flex-grow: 1;
    }
    
    p.quote {
      position: relative;
      top: 29vh;
    }
    
    /*div {
      background-color: #f8f;
    }*/
    
    span.author {
      position: relative;
      top: 32vh;
      opacity: 0.1;
    }
    
    .dot {
      border-left: 2px dotted black;
      height: 73vh;
      position: relative;
      left: 66px;
      opacity: 0.1;
    }
  
div.copyright {
    opacity: 0.1;
}